.night {
  --malloy-render--table-body-color: white;
  --malloy-render--table-header-color: #b1cad6;
  --malloy-render--table-body-weight: 400;
  --malloy-render--table-background: #212122;
  --malloy-render--table-border: 1px solid #4c505b;
}
