// import {registerDialect} from '@malloydata/malloy';

// import {
//   PostgresDialect,
//   ExternalPostgresTestConnection,
// } from '@external-drivers/driver-postgres/';

// const drivers = {};

// registerDialect(new PostgresDialect());
// drivers['postgres'] = ExternalPostgresTestConnection;

// export {drivers};
