steps:
  - id: deploy-npm
    name: "nixos/nix"
    entrypoint: sh
    args:
      - -c
      - "./cloudbuild/deploy/$TRIGGER_NAME.sh"
    timeout: "1600s"
    secretEnv: ["NPM_TOKEN"]
logsBucket: "gs://malloy-cloudbuild-logs"
timeout: "1600s"
availableSecrets:
  secretManager:
    - versionName: projects/malloy-303216/secrets/npm-publish/versions/latest
      env: "NPM_TOKEN"
