.malloy-dashboard {
  background: #f7f9fc;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.malloy-dashboard {
  * {
    box-sizing: border-box;
  }

  .dashboard-row-header {
    position: sticky;
    top: 0px;
    background: #f7f9fc;
    padding: 16px;
    padding-bottom: 0px;
    width: 100%;
    z-index: 200;
  }

  .dashboard-row-header-separator {
    height: 1px;
    background: #e3e5e9;
  }

  .dashboard-row-header-dimension-list {
    display: flex;
    gap: 24px;
  }

  .dashboard-row-body {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    padding-top: 12px;
  }

  .dashboard-item {
    background: white;
    border-radius: 3px;
    padding: 16px;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 12px;
    box-shadow:
      rgb(255, 255, 255) 0px 0px 0px 0px,
      rgb(229, 231, 235) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  }

  .dashboard-item-value {
    overflow: auto;
  }

  .dashboard-item-title {
    font-weight: 400;
    font-size: 12px;
    color: rgb(100, 102, 107);
  }

  .dashboard-item-value-measure {
    font-size: 20px;
  }

  .dashboard-dimension-wrapper {
    display: grid;
    grid-template-rows: auto;
    gap: 4px;
    margin-bottom: 8px;
  }

  .dashboard-dimension-name {
    font-size: 12px;
  }
  .dashboard-dimension-value {
    font-size: 14px;
    font-weight: 600;
  }
}
