.malloy-table .sticky-header {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.malloy-table .sticky-header-content {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.malloy-table .sticky-header-content th {
  pointer-events: all;
}

.malloy-table table {
  border-collapse: collapse;
  background: var(--malloy-render--table-background);
}

.malloy-table th {
  transition: background-color 0.25s;
}

.malloy-table table * {
  box-sizing: border-box;
}

.malloy-table .column-cell {
  height: var(--malloy-render--table-row-height);
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  padding: 0px;
  vertical-align: top;
  position: relative;
}

.malloy-table td.column-cell {
  font-weight: var(--malloy-render--table-body-weight);
  color: var(--malloy-render--table-body-color);
}

.malloy-table th.column-cell {
  font-weight: var(--malloy-render--table-header-weight);
  color: var(--malloy-render--table-header-color);
}

.malloy-table .column-cell.numeric {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.malloy-table .cell-wrapper {
  display: flex;
  align-items: start;
  overflow: hidden;
}

.malloy-table .cell-content {
  border-top: var(--malloy-render--table-border);
  height: 100%;
  line-height: var(--malloy-render--table-row-height);
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.malloy-table .cell-gutter {
  border-top: var(--malloy-render--table-border);
  height: var(--malloy-render--table-row-height);
  width: var(--malloy-render--table-gutter-size);
  transition: border-color 0.25s;
}

.malloy-table .cell-gutter.hide-gutter-border {
  border-color: transparent;
}

.malloy-table.pinned-header table {
  background: transparent;
}

.malloy-table.pinned-header th {
  background: var(--malloy-render--table-background);
}

.malloy-table.root {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.malloy-table.scrolled .pinned-header .cell-content,
.malloy-table.scrolled .pinned-header .cell-gutter,
.malloy-table.scrolled .pinned-header .cell-gutter.hide-gutter-border {
  border-top: var(--malloy-render--table-pinned-border);
}

.malloy-table.scrolled .pinned-header th {
  background: var(--malloy-render--table-pinned-background);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
