.malloy-table * {
  box-sizing: border-box;
}

.malloy-table {
  background: var(--malloy-render--table-background);
}

.malloy-table {
  display: grid;
  grid: auto / subgrid;
}

.malloy-table.root {
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  max-height: 100%;
  position: relative;
  overflow: auto;
}

.malloy-table .pinned-header-row {
  display: grid;
  grid: auto / subgrid;
  position: sticky;
  top: 0px;
  z-index: 100;
  pointer-events: none;
}

.malloy-table .table-row {
  display: grid;
  grid: auto / subgrid;
}

.malloy-table .th {
  transition: background-color 0.25s;
}

.malloy-table .column-cell {
  min-height: var(--malloy-render--table-row-height);
  white-space: nowrap;
  text-align: left;
  padding: 0px;
  vertical-align: top;
}

.malloy-table .td.column-cell {
  font-weight: var(--malloy-render--table-body-weight);
  color: var(--malloy-render--table-body-color);
}

.malloy-table .th.column-cell {
  font-weight: var(--malloy-render--table-header-weight);
  color: var(--malloy-render--table-header-color);
}

.malloy-table .column-cell.numeric {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.malloy-table .cell-content {
  border-top: var(--malloy-render--table-border);
  height: 100%;
  /* -1px for the top border */
  line-height: calc(var(--malloy-render--table-row-height) - 1px);
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-inline: 0px;
  padding-inline: var(--malloy-render--table-gutter-size);
}

.malloy-table .cell-content.hide-start-gutter {
  margin-left: var(--malloy-render--table-gutter-size);
  padding-left: 0px;
}

.malloy-table .cell-content.hide-end-gutter {
  margin-right: var(--malloy-render--table-gutter-size);
  padding-right: 0px;
}

/* If pinned, show all gutter borders in pinned header */
.malloy-table.pinned .pinned-header {
  .cell-content.hide-start-gutter,
  .cell-content.hide-end-gutter {
    margin-inline: 0px;
    padding-inline: var(--malloy-render--table-gutter-size);
  }
}

.malloy-table .pinned-header.th {
  background: var(--malloy-render--table-background);
  pointer-events: all;
}

.malloy-table.pinned .pinned-header .cell-content {
  border-top: var(--malloy-render--table-pinned-border);
}

.malloy-table.pinned .pinned-header.th {
  position: relative;
  background: var(--malloy-render--table-pinned-background);
}

.malloy-table.pinned .pinned-header:after {
  content: '';
  border-bottom: var(--malloy-render--table-pinned-border);
  width: 100%;
  height: 0px;
  display: inline-block;
  position: absolute;
  left: 0px;
  right: 0px;
}

/* TODO figure out better strategy for tweaking renderers inside table */
.malloy-table .malloy-list {
  line-height: var(--malloy-render--table-row-height);
}
