name: 'DB:BigQuery'

on:
  workflow_call:
    secrets:
      BIGQUERY_KEY:
        required: true

jobs:
  test-bigquery:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: GCloud auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.BIGQUERY_KEY }}'
      - name: npm install, build, and test
        run: |
          npm ci --loglevel error
          npm run build
          npx jest --reporters jest-silent-reporter --reporters summary --config jest.bigquery.config.ts
        env:
          CI: true
          MALLOY_DATABASES: bigquery
