name: DB:BigQuery

on:
  pull_request:
  workflow_call:
    secrets:
      BIGQUERY_KEY:
        required: true

jobs:
  test-bigquery:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: GCloud auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.BIGQUERY_KEY }}'
      - name: npm install, build, and test
        run: |
          npm ci --loglevel error
          npm run build
          npx jest --reporters jest-silent-reporter --reporters summary --config jest.bigquery.config.ts
        env:
          CI: true
          MALLOY_DATABASES: bigquery
