name: 'DB:MySQL'

on: workflow_call

jobs:
  # Label of the container job
  test-mysql:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: npm install, build, and test
        run: |
          npm ci --loglevel error
          npm run build
          npm run build-duckdb-db
          ./test/mysql/mysql_start.sh
          npx jest --reporters jest-silent-reporter --reporters summary --config jest.mysql.config.ts
          ./test/mysql/mysql_stop.sh
        env:
          MALLOY_DATABASES: mysql
          MYSQL_HOST: '127.0.0.1'
          MYSQL_PORT: 3306
          MYSQL_USER: root
          MYSQL_DATABASE: malloytest
