name: 'DB:MotherDuck'

on:
  workflow_call:
    secrets:
      MOTHERDUCK_TOKEN_10:
        required: true

jobs:
  test-motherduck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.GITHUB_SHA }}
      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: npm install, build, and test
        run: |
          npm ci --loglevel error
          npm run build
          npx jest --reporters jest-silent-reporter --reporters summary --config jest.duckdb-other.config.ts
        env:
          CI: true
          MALLOY_DATABASES: motherduck
          MOTHERDUCK_TOKEN: ${{ secrets.MOTHERDUCK_TOKEN_10 }}
