# The "Core" job runs through all the tests which are not dialect specific.
# This includes tests which don't touch the database at all, and tests
# which touch some combination of duckdb,bigquery,postgres but do
# not nee to be run multiple times for each dialect.
name: Core

on:
  pull_request:
  workflow_call:
    secrets:
      BIGQUERY_KEY:
        required: true

jobs:
  test-all:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install, build, and test
        run: |
          npm ci --loglevel error
          sh scripts/ci-test-sanity-check.sh
          npm run lint
          npm run build
          npm run build-duckdb-db
          npx jest --reporters jest-silent-reporter --reporters summary --config jest.core.config.ts --runInBand
        env:
          CI: true
          PGHOST: localhost
          PGPORT: 5432
          PGUSER: root
          PGPASSWORD: postgres
