name: npmjs.com Pre-release
permissions:
  id-token: write

on:
  workflow_dispatch:

jobs:
  npm-prerelease:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: npm install, build, and publish
        run: |
          echo BRANCH_NAME=$BRANCH_NAME
          npm install -g npm@latest
          npm ci --loglevel error
          npm run build
          PACKAGES=$(jq -r '.workspaces.packages[]' ./package.json | xargs echo)
          echo Publishing $PACKAGES
          PRERELEASE=$(date +%y%m%d%H%M%S)
          CLEAN_BRANCH_NAME=$(echo $BRANCH_NAME | sed -e 's/\//-/')
          VERSION=$(jq -r .version ./lerna.json)-$CLEAN_BRANCH_NAME-$PRERELEASE
          npx lerna version $VERSION --exact --allow-branch=$BRANCH_NAME --yes --no-push --no-git-tag-version
          for package in $PACKAGES; do
            echo Publishing $package $VERSION
            npm publish -w $package --access=public --tag dev
          done
        env:
          CI: true
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          BRANCH_NAME: ${{ github.ref_name || 'dev' }}
